<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<description>Spring缓存配置文件 </description>
	<bean id="KETAMA_HASH"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField"
			value="net.spy.memcached.DefaultHashAlgorithm.KETAMA_HASH" />
	</bean>
	
	<bean id="memcachedClient"
		class="com.comisys.lanxin.blueprint.common.cache.MemcachedClientFactoryBean"
		lazy-init="false">
		<property name="servers" value="${memcached.servers}" />
		<property name="protocol" value="BINARY" />
		<property name="username" value="" />
		<property name="password" value="" />
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<property name="opTimeout" value="3000" />
		<property name="timeoutExceptionThreshold" value="1998" />
		<property name="hashAlg" ref="KETAMA_HASH" />
		<property name="locatorType" value="CONSISTENT" />
		<property name="failureMode" value="Redistribute" />
		<property name="useNagleAlgorithm" value="false" />
	</bean>
	
	<bean name="operationResultCache" class="com.comisys.lanxin.blueprint.common.cache.MemcachedCache">
		<property name="region" value="operationResult" />
	</bean>
	<bean name="connServerNameMap" class="com.comisys.lanxin.blueprint.common.cache.MemcachedCache">
		<property name="region" value="connServerNameMap" />
	</bean>
</beans>
