<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd"
	default-lazy-init="true">

	<description>Spring MongoDB配置文件 </description>
	
	<!-- 通过工厂Bean创建mongo连接实例,没有密码就把username和password属性删除了 -->
	<mongo:db-factory host="${mongodb.url}" port="27017" dbname="${mongodb.db}" username="${mongodb.username}" password="${mongodb.password}" />

	<!-- mongo模板操作对象 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<!-- MongoDB GridFS Template 支持，操作mongodb存放的文件 -->
	<mongo:mapping-converter id="converter" db-factory-ref="mongoDbFactory" />
	<!-- 映射转换器，扫描back-package目录下的文件，根据注释，把它们作为mongodb的一个collection的映射 -->  
    <mongo:mapping-converter base-package="com.snail.fitment.model.mongodb" />  
    <!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->  
    <mongo:repositories base-package="com.snail.fitment.database.mongodb.dao"/>
      
	<bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="converter" />
	</bean>
</beans>
